@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0px;
    margin: 0px;
}
body {
     min-height: 100vh;
}
header {
    padding: 10px;
    text-align: center;
    color: white;
    height: 220px;
    background-color: rgb(63, 70, 78);
}
header > h1 {
    font-size:calc(1em + 3vw)  ;
    
    padding-top: 50px;
    font-family: 'Playfair Display';
    font-variant: small-caps;
}
header > p{
    font-family: 'Poppins';
    padding-bottom: 50px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight:600;
}
header a:hover {
text-decoration: underline;
}

section {
    padding-top:10vh ;
    padding-bottom: 10vh;
    line-height: 45px;
    text-indent: 5px;
    font-family: 'Poetsen One';
    font-size: 24px;
    padding-left: 40px;
    font-size: 36px;
}

section p {
    font-size: 3vw;
}


.poesias {
    color: black;
    background-color: rgb(255, 255, 255);
  
    
}


.imgs { 
    background-size:cover ;
    box-shadow: inset 6px 6px 6px rgba(0, 0, 0, 0.445);
    background-attachment: fixed;
    color: white;
    background-color: rgb(170, 160, 160);
}

.imgs p {
    background-color: rgba(0, 0, 0, 0.315);
    padding: 5px;
    display: inline-block;
    width: 400px;
}


#juaninha p {
    border-radius: 2px;
    text-shadow:1px 1px 0px rgb(0, 0, 0) ;
}
#juaninha {
    background-image: url(img/background001.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    
}

#cartas p {
    width: 400px;
    border-radius: 2px;
    text-shadow:2px 1px 0px rgb(0, 0, 0) ;
}
#cartas {
     background-image: url(img/background002.jpg);
     background-repeat: no-repeat;
     
}

footer, a{
    background-color: rgb(39, 36, 36);
    text-decoration: none;
    color: white;
}